body {
    background-color: #10dfcd; 
    color: #f71b1b; 
    font-family: Arial, sans-serif;
}

table {
    background-color: #dd7d24; 
    color: ##0000FF; 
    border-collapse: collapse;
}

h1 {
    color:rgb(140, 0, 255)
}


img {
    border-radius: 10px; 
}


form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
}
